html,body{
    margin: 0;
    padding: 0;
    background: #464E67;
    overflow: visible;
}
a{
    text-decoration: none;
    color: blue;
    text-align: center;
}
.layer{
    padding-top: 50px;
}
.topper{
    display:flex;
    justify-content: center;
    column-gap: 10px;
    height:fit-content;
    background: rgba(0,0,0,.75);
    align-items: center;
    position: fixed;
    width: 100vw;
}
.menu{
    vertical-align: middle;
    width: 10%;
    background: none;
    color: rgba(202, 202, 202, 0.75);
    cursor: pointer;
    border: 0;
}
.bg{
    background-color: rgb(0, 0, 114);
    background-image: url(images/logo.png);
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: table;
    box-sizing: border-box;
}
.copyright{
    justify-content: center;
    display: flex;
    height: fit-content;
    width: 100vw;
    padding: 10px;
    color: white;
    background: rgb(0,0,0);
}
.btn{
    cursor: pointer;
    background-color: rgb(0, 0, 151);
    color: #ffffff;
    padding: 15px;
}